<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Start side</title>
</head>

<body style="background-color: #222;">

    <header id="navbar">
    <h1 style="text-align: center; font-size: 30px;">Bilabonnoment.dk</h1>
    </header>

    <h1 style="text-align: center; margin-top: 15vh; margin-bottom: 3vh; color: white; font-size: xx-large">Medarbejder Portal</h1>
    
    <div style="display: flex; justify-content: center;">
        <a href="loginForm"><button class="start-login-btn">Log Ind</button></a>
    </div>
</body>
</html>