@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Roboto Light', sans-serif;
}

body,
html {
    margin: 0;
    border: 0;

    background: #222222;
}

.lebutton{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: black;
    color: white;
    border-radius: 5px;
    margin: 30px;
    font-size: 30px;
}
.lebutton:hover{
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: black;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #222
}

.login-header{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: #222;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    font-size: 1em;
    pointer-events: none;

    transform: translateY(-50%);
    transition: .5s;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 35px 5px;
    color: #fff;
    margin-top: 5px;
    max-width: 180px;

}

.login-button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.options-td button {
    margin: 5px;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
    box-sizing: border-box;
    border: 8px solid white;
}

.table-dark tr {
    border-bottom: 3px solid white;
    /* Adjust the '4px' value to your desired border thickness */
    border-style: double;
}

.error {
    color: darkred;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.overview-table {
    width: 80vw;
    margin: auto;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    border-collapse: collapse;
}

.overview-table th, td, tr {
    border: 1px solid white;
    padding: 8px;
}

.overview-table tbody tr {
    transition: background-color 0.3s ease;
}

.overview-table tbody tr:hover {
    background-color: #444444;
}

.overview-table button {
    padding: 5px;
    border-radius: 5px;
    color: white;
    transition: filter 0.3s ease;
    border: none;
}

.overview-table button:hover {
    filter: brightness(80%);
}

/* Width and height of the entire scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.start-login-btn {
    margin-right: 7px;
    margin-top: 20px;
    background-color: #0d6efd;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.start-login-btn:hover {
    filter: brightness(80%);
}




