<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Plan formular</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navbar.css}" />
    <link class="next-head"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          rel="icon">
    <style>
        html,
        body {
            height: 100%;
            /*Højden på et element*/
            margin: 0;
            /*Det er hvor meget plads der skal være udenom et element*/
            padding: 0;
            width: 100%;
            /*bredden på et element*/
            overflow-x: hidden;
            /*Gør at man ikke kan side-scrolle på x-aksen*/
            color: black;
        }
    </style>
</head>

<body>
<header th:replace="navbarfragment :: navbar"></header>

<span
        style="position: fixed; font-size: 18px; padding: 5px; border-radius: 5px; margin: 8px 3px 3px 3px; background-color: #0d6efd; color: white"
        th:text="${'Edit prices for ' + carModel.car_model_name}"></span>

<div style="display: flex; justify-content: space-evenly; height: 75%; width: 100%;">

    <div style="margin-top: 60px; border: 2px solid white; padding: 10px; border-radius: 10px">
        <h1 style="text-align: center">Tilføj Max Km Plan</h1>

        <form method="post" th:action="@{/addCarModelKmPlan}">
            <input name="car_model_id" th:value="${car_model_id}" type="hidden">
            <input name="max_km" placeholder="Max Kilometer" type="number" required>
            <input name="km_price_per_month" placeholder="Price Per month" type="number" required>
            <button class="btn-submit" type="submit">Submit</button>
        </form>

        <div style="margin-top: 50px;">
            <h1>Nuværende planer:</h1>
            <table>
                <thead>
                <th style="padding: 10px">Max Km</th>
                <th style="padding: 10px">Price per month</th>
                </thead>
                <tr th:each="kmPlan : ${kmPlans}">
                    <td th:text="${kmPlan.max_km}"></td>
                    <td th:text="${kmPlan.km_price_per_month}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div style="margin-top: 60px; border: 2px solid white; padding: 10px; border-radius: 10px">
        <h1 style="text-align: center">Tilføj Leasing Periode Planer</h1>
        <form class="form-group" method="post" th:action="@{/addCarLeasePlan}">
            <input name="car_model_id" th:value="${car_model_id}" type="hidden">
            <input name="type" placeholder="Type" type="text" required>
            <input name="price_per_month" placeholder="Pris per måned" type="number" required>
            <input name="nrOfMonths" placeholder="Antal måneder" type="number" required>
            <button class="btn-submit" type="submit">Tilføj</button>
        </form>

        <div style="margin-top: 50px;">
            <h1>Nuværende Planer:</h1>
            <table>
                <thead>
                <th style="padding: 10px">Lease Plan Type</th>
                <th style="padding: 10px">Lease Plan Price</th>
                </thead>
                <tr th:each="lease_plan : ${lease_plans}">
                    <td th:text="${lease_plan.type}"></td>
                    <td th:text="${lease_plan.price_per_month}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="width: 100%; height: 10%; display: flex; align-items: center; justify-content: end">
    <a href="/carModelsOverview">
        <button class="btn-submit" style="margin-right: 15px;">Gem</button>
    </a>
</div>
</body>

</html>