<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <link rel="icon"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          class="next-head">
    <title>Bil håndtering</title>
</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

<main style="width: 100vw; height: 84vh; overflow: auto;">
    <h1 class="title">Bil oversigt</h1>

    <table class="overview-table">
        <thead>
        <th>Bil Model</th>
        <th>Leasing type priser</th>
        <th>Km. Per Måned Priser</th>
        <th>Biler i garage</th>
        <th>Udlejede biler</th>
        <th>Biler til reperation</th>
        <th>Handlinger</th>
        </thead>
        <tbody>
        <tr th:each="carInfo : ${carInfoList}">
            <td th:text="${carInfo.car_model.car_model}"></td>
            <td>
                <table>
                    <thead>
                    <!-- Lease period plan table headers -->
                    </thead>
                    <tbody>
                    <tr th:each="leasePlan : ${carInfo.car_model_lease_period_plans}">
                        <td th:text="${leasePlan.type}"></td>
                        <td th:text="${leasePlan.price_per_month + ' $/month'}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <thead>
                    <!-- Max km plan table headers -->
                    </thead>
                    <tbody>
                    <tr th:each="carModelMaxKmPlan : ${carInfo.car_model_max_km_plans}">
                        <td th:text="${carModelMaxKmPlan.max_km + ' km'}"></td>
                        <td th:text="${carModelMaxKmPlan.km_price_per_month + ' $/month'}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>

            <td th:text="${carInfo.carsInStock}"></td>
            <td th:text="${carInfo.carsLeasedOut}"></td>
            <td th:text="${carInfo.carsInRepair}"></td>

            <td class="options-td">
                <a th:href="${'/addCarForm/'+ carInfo.car_model.car_model_id}">
                    <button style="background-color: #0d6efd">Registrer Bil</button>
                </a>
                <br>

                <button style="background-color: #6c757d">Vis registrede biler</button>

                <br>
                <a th:href="${'addCarModelPlansForm/' + carInfo.car_model.car_model_id}">
                    <button style="background-color: green">Rediger Priser</button></a>
                <br>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<a href="/addCarModelForm">
    <button class="btn-submit">Tilføj ny model</button>
</a>
</body>