<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon"
        href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico">
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

<section class="login-section">
  <div class="form-box">
    <form method="post" th:action="@{/signUpEmployee}">
      <h2 class="login-header">Opret medarbejder</h2>
      <div class="inputbox">
        <ion-icon name="person-outline"></ion-icon>
        <input style="margin-left: 15px;" name="name" type="text" required>
        <label>Navn :</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input style="margin-left: 15px; font-size: 25px" type="password" name="password" required>
        <label>Kode :</label>
      </div>
      <button style="background-color: #0d6efd" class="login-button" type="submit">Opret Medarbejder</button>
    </form>
  </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>