<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <title>Title</title>
</head>
<body>
<h1>Create new Car Model</h1>

<form action="addCarModel" method="post">
    <input name="car_model" type="text" placeholder="Car Model" required>
    <input name="nextCarModelId" th:value="${nextCarModelId}" type="hidden">
    <button type="submit">Add Car Model</button>
</form>

</body>
</html>