<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <title>Title</title>
</head>
<body>
    <h1>Tilføj planer</h1>

    <form method="post" th:action="@{/addCarLeasePlan}">
        <input name="car_model_id" th:value="${car_model_id}">
        <input name="type" type="text">
        <input name="price_per_month" type="number">
        <button type="submit">Submit</button>
    </form>

</body>
</html>