<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

</head>
<body>

<a href="/"><div style="background: darkblue;" class="lebutton">Go Back</div></a>

<section style="background: darkcyan; padding: 1px;">
  <a href="#"><div class="lebutton">Add Car Model <i>(remember to update stock after adding car)</i></div></a>
  <a href="#"><div class="lebutton">Update / Show Car Model Stock</div></a>
</section>

<section style="background: darkgreen; padding: 1px;">
  <a href="showAllCars"><div class="lebutton">Show ALL Cars</div></a>
  <a href="#"><div class="lebutton">Show Available Cars</div></a>
  <a href="#"><div class="lebutton">Show All Unavailable Cars</div></a>
  <a href="#"><div class="lebutton">Show Cars Awaiting Repair</i></div></a>
  <a href="#"><div class="lebutton">Show Cars Thats Rented Out</i></div></a>
</section>


<section style="background: darkgray; padding: 1px;">
  <a href="#"><div class="lebutton">Add Max Km Plans</div></a>
  <a href="#"><div class="lebutton">Add Lease Type Plans</div></a>
</section>

</body>
</html>