<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          class="next-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Skade rapporter</title>
</head>

<body>
<header th:replace="navbarfragment :: navbar"></header>

<h1 class="title">Skade rapporter</h1>

<table class="overview-table">
    <thead>
    <tr>
        <th>Vognnummer</th>
        <th>Model navn</th>
        <th>Skade beskrivelse</th>
        <th>Bilens tilstand</th>
        <th>Pris</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody th:each="car_return_damage : ${getAllDamageInfo}">

    <tr>
        <td th:text="${car_return_damage.vognnummer}"></td>
        <td th:text="${car_return_damage.car_model}"></td>
        <td th:text="${car_return_damage.damage_description}"></td>
        <td th:text="${car_return_damage.isFixed ? 'Klar' : 'På værksted'}"></td>
        <td th:text="${car_return_damage.price}"></td>
        <td>
            <a th:href="'/'"><button style="background-color: #0d6efd">Rediger</button></a>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>