<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">


</head>
<body>

<a href="carmenu"><div class="lebutton">Car Menu</div></a>

<a href="#"><div class="lebutton">Customer Menu</div></a>

<a href="#"><div class="lebutton">Contract Menu</div></a>

<a href="#"><div class="lebutton">Mechanic Menu</div></a>

<a href="#"><div class="lebutton">Business Developer Menu</div></a>


</body>
</html>