<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">

</head>
<body style="margin: 0; padding: 0;">

<header id="navbar">
    <h1 style="text-align: center;">Bilabonnoment.dk</h1>
</header>

<section class="login-section" style="background-color: #222;">
    <div class="form-box">
        <form method="post" th:action="@{/login}">
            <h2 class="login-header">Login</h2>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="number" name="employee_id" required>
                <label>ID :</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input style="margin-left: 60px; font-size: 25px;" type="password" name="password" required>
                <label>Password :</label>
            </div>
            <button class="login-button">Log in</button>
        </form>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>