<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <link rel="stylesheet" th:href="@{/navbar.css}" />
  <title>Navbar Fragment</title>
</head>

<body>
<header id="navbar" th:fragment="navbar">
  <a>|</a>
  <a href="/dashboard">Dashboard</a>
  <a>|</a>
  <a href="/carModelsOverview">Bil Oversigt</a>
  <a>|</a>
  <a href="/carReturnReports/pending">Værksted</a>
  <a>|</a>
  <a href="/contractsOverview/active">Kontrakter</a>
  <a>|</a>
  <a href="/customersOverview">Kunde Oversigt</a>
  <a>|</a>
  <a href="/logout">Log af</a>
 <!-- <a id="eName" style="background-color: #0d6efd; color: white; border-radius: 10px; cursor: default;"
     th:text="${session.employee.name}"></a> -->
</header>
</body>
</html>