<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text="${customer_id}"></span>
<span th:text="${car_model_id}"> </span>

<div th:each="kmplan : ${km_plans}">
    <span th:text="${kmplan.max_km}"></span>
</div>


<form action="addContract" method="post">

    <!--(car_id, customer_id, car_lease_period_plan_id, car_max_km_plan_id,
    start_date, employee_id);
    -->


    <select name="car_lease_period_plan_id">
        <option th:each="lease_plan : ${lease_plans}"
                th:text="${'Lease Type: ' + lease_plan.type + '. Nr. of months: ' + lease_plan.nr_of_months}"
                th:value="${lease_plan.car_lease_period_plan_id}"></option>
    </select>

    <select name="car_max_km_plan_id">
        <option th:each="km_plan: ${km_plans}"
                th:text="${'Km. per month: ' + km_plan.max_km + '. Price per month: ' + km_plan.km_price_per_month}"
                th:value="${km_plan.car_max_km_plan_id}"></option>
    </select>


    <select name="car_id">
        <option th:each="car : ${cars}"
                th:text="${'Vognnummer: ' + car.vognnummer}"
                th:value="${car.car_id}"></option>
    </select>


    <input name="customer_id" th:value="${customer_id}" type="hidden"/>

    <input name="employee_id" th:value="${session.employee.employee_id}" type="hidden"/>
    <input type="submit" value="Tilføj kontrakt">

    <input name="start_date" type="date">

</form>

</body>
</html>