<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
  <title>Opret kunde</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body style="margin: 0; padding: 0;">

<header th:replace="navbarfragment :: navbar"></header>

<section style="background-color: #222" class="login-section">
  <div class="form-box">
    <form method="post" th:action="@{/newCustomer}">
      <h2 class="login-header">Kunde oprettelse</h2>
      <div class="inputbox">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" name="customer_name" required>
        <label>Navn :</label>
      </div>
      <button class="login-button">Opret kunde</button>
    </form>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>