    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Kontrakt overblik</title>
</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

    <h1 class="title">Kunde Oversigt</h1>

    <main>


        <table class="overview-table">
            <thead>
            <tr>
                <th>Kunde ID</th>
                <th>Kunde Navn</th>
                <th>Handlinger</th>
            </tr>
            </thead>
            <tbody th:each="customer : ${getCustomers}">

            <tr>
                <td th:text="${customer.customer_id}"></td>
                <td th:text="${customer.customer_name}"></td>
                <td>

                    <a th:href="${'/addContractForm1/' + customer.customer_id}"><button
                            style="background-color: #0d6efd">Opret ny kontrakt</button></a>
                    <a th:href="'editCustomerForm/' + ${customer.customer_id}"><button
                            style="background-color: #6c757d;">Rediger</button></a>
                    <a th:href="${'/customerContractHistory/' + customer.customer_id}"><button style="background-color: green">Vis
                        info</button></a>

                </td>
            </tr>

            </tbody>
        </table>
    </main>
        <a href="/addCustomerForm"><button class="btn-submit">Opret Ny kunde</button></a>

</body>

</html>