    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Kontrakt overblik</title>
</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

    <main style="width: 100vw; height: 84vh; overflow: auto;">
        <h1 class="title">KUNDE OVERSIGT</h1>

        <table class="overview-table">
            <thead>
            <tr>
                <th style="width: 90px">Kunde ID</th>
                <th>Kunde Navn</th>
                <th style="width: 280px">Handlinger</th>
            </tr>
            </thead>
            <tbody th:each="customer : ${getCustomers}">

            <tr>
                <td th:text="${customer.customer_id}"></td>
                <td th:text="${customer.customer_name}"></td>
                <td>
                    <a th:href="${'/addContractForm1/' + customer.customer_id}" style="background-color: #0d6efd">Opret ny kontrakt</a>
                    <a th:href="'editCustomerForm/' + ${customer.customer_id}" style="background-color: #6c757d;">Rediger</a>
                    <a th:href="${'/customerContractHistory/' + customer.customer_id}" style="background-color: green">Vis info</a>
                </td>
            </tr>

            </tbody>
        </table>

        <div style="width: 60vw; margin: 0 auto;">
            <a href="/addCustomerForm" class="action-button">Opret Ny Kunde</a>
        </div>
    </main>


</body>

</html>