<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/editCustomer}">
    <input name="customer_id" type="hidden" th:value="${customer_id}">
    <input type="text" placeholder="Name:" name="customer_name">
    <button type="submit">Submit</button>
</form>

</body>
</html>