<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          class="next-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Kontrakt overblik</title>
</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

<h1 class="title" th:text="${customer + 's kontrakter '}"></h1>


<main style="width: 100vw; height: 75vh; overflow: auto;">


    <table class="overview-table">
        <thead>
        <tr>
            <th>Medarbejder ID</th>
            <th>Kunde ID</th>
            <th>Kontrakt ID</th>
            <th>Bil ID</th>
            <th>Vognnummer</th>
            <th>Bil Model</th>
            <th>Kontrakt Start</th>
            <th>Kontrakt Slut</th>
        </tr>
        </thead>
        <tbody th:each="contract : ${getCustomerHistory}">

        <tr>
            <td th:text="${contract.employee_id}"></td>
            <td th:text="${contract.customer_id}"></td>
            <td th:text="${contract.contract_id}"></td>
            <td th:text="${contract.car_id}"></td>
            <td th:text="${contract.vognnummer}"></td>
            <td th:text="${contract.car_model_name}"></td>
            <td th:text="${contract.start_date}"></td>
            <td th:text="${contract.end_date}"></td>
        </tr>

        </tbody>
    </table>
</main>
</body>

</html>