<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}" />
</head>

<body>
<header th:replace="navbarfragment :: navbar"></header>

<h1 class="title">Tilføj Bil</h1>

<form style="display: flex; justify-content: center; margin-top: 200px;" method="post" action="/addNewCar">
    <input name="car_model_id" th:value="${car_model_id}">
    <input name="vognnummer" type="text">
    <button class="btn-submit" type="submit">Submit</button>

</form>

</body>

</html>