<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link class="next-head"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          rel="icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/navbar.css}" type="text/css">
    <title>Kontrakter</title>

</head>

<body>

<header th:replace="navbarfragment :: navbar"></header>

    <main style="height: 81vh;">
        <div id="scrollDiv" style="height: 81vh; overflow: auto;">
            <h1 style="text-align: center; margin-bottom: 5px;" th:text="${info}" class="title"></h1>

            <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 5px;">
                <a href="/contractsOverview/ended" style="color: white; background: darkcyan; margin: 2px; padding: 10px; border-radius: 5px;">Vis udløbede kontrakter</a>
                <a href="/contractsOverview/future" style="color: white; background: darkcyan; margin: 2px; padding: 10px; border-radius: 5px;">Vis fremtidige kontrakter</a>
                <a href="/contractsOverview/active" style="color: white; background: darkcyan; margin: 2px; padding: 10px; border-radius: 5px;">Vis Aktive Kontrakter</a>
            </div>

            <table style="width: 95vw;" class="overview-table">
                <thead>
                    <tr>
                        <th>Kontrakt ID</th>
                        <th>Kunde ID</th>
                        <th>Employee ID</th>
                        <th>Kunde Navn</th>
                        <th>Bil Model</th>
                        <th>Vognnummer</th>
                        <th>Leasing Type</th>
                        <th>Leasing Pris</th>
                        <th>Max Km. Pr. Måned</th>
                        <th>Max Km Pris</th>
                        <th>Start Dato</th>
                        <th>Slut Dato</th>
                        <th>Total Pris Pr. måned</th>
                        <th style="width: 200px">Handlinger</th>
                    </tr>
                </thead>
                <tbody th:each="contract : ${getContractInfo}">
                    <tr>
                        <td th:text="${contract.contract_id}"></td>
                        <td th:text="${contract.customer_id}"></td>
                        <td th:text="${contract.employee_id}"></td>
                        <td th:text="${contract.customer_name}"></td>
                        <td th:text="${contract.car_model_name}"></td>
                        <td th:text="${contract.vognnummer}"></td>
                        <td th:text="${contract.lease_type}"></td>
                        <td th:text="${contract.lease_price}"></td>
                        <td th:text="${contract.max_km}"></td>
                        <td th:text="${contract.km_plan_price}"></td>
                        <td th:text="${contract.start_date}"></td>
                        <td th:text="${contract.end_date}"></td>
                        <td th:text="${contract.total_price_per_month}"></td>
                        <td>
                            <a th:href="${'/editContractForm/' + contract.contract_id}">Rediger</a>
                            <form action="/endContract" method="post">
                                <input name="contract_id" th:value="${contract.contract_id}" type="hidden">
                                <input name="car_id" th:value="${contract.car_id}" type="hidden">
                                <a style="background-color: transparent;">
                                    <button style="background-color: #6c757d; cursor: pointer;" type="submit">Afslut aftale</button>
                                </a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="width: 95vw; margin: 0 auto;">
                <a class="action-button" href="/customersOverview">Tilføj ny kontrakt</a>
            </div>

        </div>
    </main>

</body>
</html>