<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico" class="next-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/navbar.css}">
    <title>Kontrakter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body style="background-color: #222">

<header th:replace="navbarfragment :: navbar"></header>

<main style="width: 100vw; height: 84vh; overflow: auto;">


    <table class="table table-dark table-bordered">
        <thead>
        <tr>
            <th>Kontrakt ID</th>
            <th>Kunde ID</th>
            <th>Kunde Navn</th>
            <th>Bil Model</th>
            <th>Vognnummer</th>
            <th>Leasing Type</th>
            <th>Leasing Pris</th>
            <th>Max Km. Pr. Måned</th>
            <th>Max Km Pris</th>
            <th>Start Dato</th>
            <th>Slut Dato</th>
            <th>Total Pris Pr. måned</th>
            <th>Handlinger</th>
        </tr>
        </thead>
        <tbody th:each="contract : ${getContractInfo}">
        <form action="/editSpecificContract" method="post">
        <tr>
            <td>
                <input name="contract_id" readonly th:value="${contract.contract_id}">
            </td>
            <td th:text="${contract.customer_id}"></td>
            <td th:text="${contract.customer_name}"></td>
            <td th:text="${contract.car_model}"></td>
            <td th:text="${contract.vognnummer}"></td>
            <td th:text="${contract.lease_type}"></td>
            <td th:text="${contract.lease_price}"></td>
            <td th:text="${contract.max_km}"></td>
            <td th:text="${contract.km_plan_price}" ></td>

            @RequestParam String contract_start_date, @RequestParam String contract_end_date, @RequestParam int contract_id

            <td>
               <input type="date" name="contract_start_date" th:value="${contract.start_date}">
            </td>

            <td>
                <input type="date" name="contract_end_date" th:value="${contract.end_date}">
            </td>


            <td th:text="${contract.total_price_per_month}"></td>

            <td>
                <button class="btn btn-primary" type="submit">Submit</button>
            </td>

        </tr>
        </form>

        </tbody>
    </table>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>